{{#if resume.projects.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Projects <span class="item-count">({{resume.projects.length}})</span></h2>
  </header>
  <section id="projects">
    {{#each resume.projects}}
    {{#if name}}
    <header>
      <span class="space-left">
      {{#if @first}}
      <span class="fa fa-caret-down"></span>
      {{else}}
      <span class="fa fa-caret-right"></span>
      {{/if}}
      </span>
      {{#if name}}
      <div class="position">{{name}}</div>
      {{/if}}
      {{#if startDate}}
      <div class="date">
        <span class="startDate">{{MY startDate}}</span>
        {{#if endDate}}
        <span class="endDate">- {{MY endDate}}</span>
        {{else}}
        <span class="endDate">- Current</span>
        {{/if}}
      </div>
      {{/if}}
    </header>
    {{/if}}
    {{#location}}
    <span class="location">
    <span class="fa fa-map-marker"></span>
    {{#if city}}
    <span class="city">{{city}},</span>
    {{/if}}
    {{#if countryCode}}
    <span class="countryCode">({{countryCode}})</span>
    {{/if}}
    {{#if region}}
    <span class="region">
    {{region}}
    </span>
    {{/if}}
    </span>
    {{/location}}
    {{#if url}}
    <span class="website">
      <a target="_blank" href="{{url}}">{{url}}</a>
    </span>
    {{/if}}
    {{#if keywords.length}}
    <ul class="keywords">
      {{#each keywords}}
        <li>{{.}}</li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if @first}}
    <div class="item display" style="opacity:1">
    {{else}}
    <div class="item display none" style="opacity:0">
    {{/if}}
    {{#if summary}}
    <div class="summary">
      <p>{{paragraphSplit summary}}</p>
    </div>
    {{/if}}
    {{#if highlights.length}}
    <ul class="highlights">
      {{#each highlights}}
        <li>{{paragraphSplit .}}</li>
      {{/each}}
    </ul>
    {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}