{{#if resume.volunteer.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Volunteer</h2>
  </header>
  <section id="volunteer">
    {{#each resume.volunteer}}
    <section class="volunteer-item">
      {{#if organization}}

      {{#if summary}}
      <label for="volunteer-item-{{@index}}"></label>
      {{/if}}

      <header class="clear">
        {{> date startDate=startDate endDate=endDate }}
        <div class="header-left">
          {{#if position}}
          <div class="position">
            {{position}}
          </div>
          {{/if}}
          <div class="organization">
            {{#if url}}
              <a target="_blank" href="{{url}}">{{organization}}</a>
            {{else if website}}
              <a target="_blank" href="{{website}}">{{organization}}</a>
            {{else}}
              {{organization}}
            {{/if}}
          </div>
        </div>
       
      </header>
      {{/if}}
      {{#location}}
      <span class="location">
        <span class="fa-solid fa-location-dot"></span>
        {{#if city}}
        <span class="city">
          {{city}},
        </span>
        {{/if}}
        {{#if countryCode}}
        <span class="countryCode">
          ({{countryCode}})
        </span>
        {{/if}}
        {{#if region}}
        <span class="region">
          {{region}}
        </span>
        {{/if}}
      </span>
      {{/location}}
      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <div class="item">
        {{#if summary}}
        <div class="summary">{{paragraphSplit summary}}</div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{paragraphSplit .}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </section>
    {{/each}}
  </section>
</section>
{{/if}}
