{{#if resume.work.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Work Experience <span class="item-count">({{resume.work.length}})</span></h2>
  </header>

  <section id="work">
    {{#each resume.work}}
    <section class="work-item">
      {{#if name}}

      {{#if summary}}
      <label for="work-item-{{@index}}"></label>
      {{/if}}

      <header class="clear">
        <div class="date">
          {{#if startDate}}
          <span class="startDate">{{MY startDate}}</span>
          {{/if}}
          {{#if endDate}}
          <span class="endDate">- {{MY endDate}}</span>
          {{else}}
          <span class="endDate">- Current</span>
          {{/if}}
        </div>
        {{#if position}}
        <div class="position">{{position}}</div>
        {{/if}}
        <div class="company">{{name}}</div>
      </header>
      {{/if}}

      {{#if location}}
      <span class="fas fa-map-marker-alt"></span>
      <span class="location">{{location}}</span>
      {{/if}}
      {{#if url}}
      <span class="url">
        <span class="fas fa-external-link-alt"></span>
        <a target="_blank" href="{{url}}">{{url}}</a>
      </span> {{/if}} {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <div class="item" id="work-item">
        {{#if summary}}
        <div class="summary">{{paragraphSplit summary}}</div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{paragraphSplit .}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </section>
    {{/each}}
  </section>
</section>
{{/if}}
